* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.result {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-left: 15px;
  margin-right: 15px;
}

input#create-element {
  margin-bottom: 0 !important;
}
